{% extends 'user/base.html' %}
{% block content %} 
{% load crispy_forms_tags %}
<div class="sign-in-form">
  <form method="POST">
    {% csrf_token %}
    <h1 class="mb-4">Sign In</h1>
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
    {{form|crispy}}
    <button class="btn btn-success mt-2" type="submit">Submit</button>
  </form>
</div>
{% endblock content %}
